
<div class="main-content">
  <section class="login">
    <div class="container">
      <div class="row text-center intro">
        <div class="col-12">
          <h2>Bienvenido de Regreso !</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 ">
          <form id="login-form" action="#" method="post" class="mb-4">
            <div class="error-container"></div>
            <div class="form-group">
              <label class="control-label col-xs-4">Usuario</label>
              <input type="text" class="form-control" name="usuario" required="required">
            </div>
            <div class="form-group mt-3">
              <label class="control-label col-xs-4">Clave</label>
              <input type="password" class="form-control" name="clave" required="required">
            </div>

          </form>
          <div class="row d-flex align-items-center mb-4">
            <div class="col-md-6">
              <a class="btn d-block hvr-sweep-to-right mb-3" tabindex="0"><i class="icofont-facebook mr-2"
                  aria-hidden="true"></i>INICIAR SESION</a>
            </div>
          </div>
          <p class="text-center">No tienes una cuenta? <a id="link-rojo" routerLink="registro">Crea una nueva cuenta!</a></p>
        </div>
      </div>
    </div>
  </section>
</div>
